.logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;

  &-name {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-size: 64px;
    margin: 5px 0;
  }

  &-img {
    width: 65px;
    height: 65px;
  }

  b {
    color: $first-color;
  }
}

.header {
  background-color: #120404;

  &-wrap {
    max-width: 1480px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    &-item {
      list-style: none;
      margin-right: 30px;

      &-title {
        margin: 0;
        font-size: 26px;
        font-weight: normal;
      }

      &-img {
        display: none;
      }

      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s;

        &:hover {
          color: $first-color;
          transition: 0.2s;
        }
      }
    }
  }
}

.promo {
  background-image: url("/images/promo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $second-color;

  &-bar {
    padding-top: 400px;
    display: flex;
    justify-content: space-between;
    max-width: 1480px;
    width: 90%;
    margin: auto;
  }

  &-sidebar {
    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
  }

  &-sale {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: red;
  }

  &-subtitle {
    font-weight: 300;
    font-size: 36px;
    line-height: 116%;
    width: 500px;
    margin: 0;
  }

  &-target {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;

    &-title {
      text-transform: uppercase;
      font-size: 28px;
      margin: 0;
    }

    &-img {
      width: 40px;
      height: 40px;
    }
  }

  &-contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &-title {
      margin: 0;
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  &-link {
    color: $second-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }

  &-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: $second-color;
    background-color: $first-color;
    width: 347px;
    border-radius: 10px;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    padding: 5px 40px;
    margin-top: 30px;
    border: 2px solid transparent;
    transition: 0.2s;
    margin-bottom: 20px;

    &:hover {
      background-color: transparent;
      border: 2px solid $second-color;
      color: $first-color;
      transition: 0.2s;
    }
  }
}

@media (min-width: 991px) {
  .promo {
    min-height: 90vh;
  }

  .header-burger {
    display: none;
    transition: 0.2s;
  }
}

@media (max-width: 991px) {
  .logo {
    margin-left: 5px;
    align-self: flex-start;

    &-name {
      font-size: 48px;
      margin: 5px 0;
    }

    &-img {
      width: 42px;
      height: 42px;
    }
  }

  .header {
    align-items: center;

    &-wrap {
      width: 100%;
    }

    &-menu {
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
      text-align: center;
      margin-right: 30px;
      position: absolute;
      background-color: black;
      z-index: 10;

      &-item {
        transform: translateX(100px) translateY(150px);
        margin-right: 0;
        margin-bottom: 20px;

        &-img {
          width: 20px;
          height: 20px;
          display: block;
          margin-right: 5px;
        }

        a {
          display: flex;
          align-items: center;
        }
      }
    }

    &-burger {
      width: 32px;
      height: 32px;
      z-index: 2;
      margin-right: 5px;
      align-items: center;
      z-index: 20;
    }
  }

  .is-closed {
    display: none;
    transition: 0.2s;
  }

  .burger-close {
    align-self: flex-start;
    margin-top: 17px;
  }

  .promo {
    background-image: url("https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: $second-color;

    &-bar {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      text-align: center;
    }

    &-sidebar {
      &:last-child {
        margin-top: 30px;
      }
    }

    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 30px;
    }

    &-sale {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 26px;
      color: red;
      margin: 0;
      margin-bottom: 10px;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 116%;
      margin: 0;
      margin: auto;
      width: 100%;
      line-height: 1.5;
      text-shadow: 1px 3px 0 #456;
      color: #fff;
    }

    &-target {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;

      &-title {
        text-transform: uppercase;
        font-size: 28px;
        margin: 0;
      }

      &-img {
        width: 40px;
        height: 40px;
      }
    }

    &-contacts {
      margin-bottom: 20px;
      &-title {
        margin: 0;
        font-size: 24px;
        text-transform: uppercase;
      }
    }

    &-link {
      color: $second-color;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    &-btn {
      text-decoration: none;
      text-transform: uppercase;
      color: $second-color;
      background-color: $first-color;
      width: 347px;
      border-radius: 10px;
      font-weight: normal;
      font-size: 26px;
      text-align: center;
      padding: 5px 20px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
