.logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 5%;

  &-name {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    margin: 25px 0;
  }

  &-img {
    width: 65px;
    height: 65px;
  }

  b {
    color: var($first-color);
  }
}

.header {
  background-color: #120404;
  display: flex;
  justify-content: space-between;

  &-menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 5%;

    &-item {
      list-style: none;
      margin-right: 30px;

      &-title {
        margin: 0;
        font-size: 26px;
        font-weight: normal;
      }

      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s;

        &:hover {
          color: var($first-color);
          transition: 0.2s;
        }
      }
    }
  }
}
